@model HakatonProject.Models.Resourses

@{
    ViewBag.Title = "Местоположение";
}

<h2>Местоположение</h2>

<div>
    <hr />
    <p>@ViewBag.Location</p>
</div>
@if ( ViewBag.locname =="№101" && ViewBag.Section == "O")
{
    <img src="~/Content/Этаж №1 - Помещение № 101 - Секция O - № Стелажа 1 - Полка № 1.png"/>
}
@if (ViewBag.Locname == "№102" && ViewBag.Section == "G")
{
    <img src="~/Content/Этаж №1 - Помещение № 102 - Секция G - № Стелажа 2 - Полка № 2.png.png" />
}

@if (ViewBag.Locname == "№103" && ViewBag.Section == "L")
{
    <img src="~/Content/Этаж №1 - Помещение № 103 - Секция L - № Стелажа 2 - Полка № 2.png" />
}

@if ( ViewBag.Locname == "№203" && ViewBag.Section == "P")
{
    <img src="~/Content/Этаж №2 - Помещение № 203 - Секция P - № Стелажа 3 - Полка № 5.png" />
}
@if (ViewBag.Locname == "№301" && ViewBag.Section == "Q")
{
    <img src="~/Content/Этаж №3 - Помещение № 301 - Секция 1  - № Стелажа 1 - Полка № 5.png" />
}
@if (ViewBag.Locname == "№328" && ViewBag.Section == "R")
{
    <img src="~/Content/Этаж №3 - Помещение № 328 - Секция 1 - № Стелажа 1 - Полка № 3.png" />
}

 @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")*@
