@model HakatonProject.Models.Resourses

@{
    ViewBag.Title = "Местоположение";
}

<h2>Местоположение</h2>


<div>
    <hr />
    <p>@ViewBag.Location</p>
</div>
@if (ViewBag.locname == "№101")
{
    <img src="~/Content/First_picture_101.png" />
}
@if (ViewBag.Locname == "№102")
{
    <img src="~/Content/First_picture_102.png" />
}

@if (ViewBag.Locname == "№103")
{
    <img src="~/Content/First_picture_103.png" />
}

@if (ViewBag.Locname == "№203")
{
    <img src="~/Content/floor2_203.png" />
}
@if (ViewBag.Locname == "№301")
{
    <img src="~/Content/floor3_301.png" />
}
@if (ViewBag.Locname == "№328")
{
    <img src="~/Content/floor3_328.png" />
}

@*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")*@
